{% extends 'Main/index.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}


	<!-- breadcrumb -->
	<div class="container"  style="margin-top: 80px;">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04" style="text-decoration: none;">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
                        <h4 class="mtext-113" style="padding-left: 150px; padding-bottom: 30px;padding-top: 0px;">Review Order and Make Payment</h4>
                        <h6 class="stext-110" style="padding-left: 20px;">Invoice>>ID:#123</h6>
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
                                {% for key,value in request.session.cart.items %}

								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="{{value.image}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{value.name}}</td>
									<td class="column-3">{{value.price}}</td>
									<td class="column-4">
								    {{value.quantity}}
									</td>
									<td class="column-5">{{ value.price|multiply:value.quantity }}</td>
								</tr>
                                {% endfor %}
                                

                                <tr class="table_row">
                                
									<td class="column-1 mtext-113">
										TOTAL 
									</td>
									<td class="column-2">(Including Shipping +Tax)</td>
									<td class="column-3 mtext-113">:</td>
									<td class="column-4">
									</td>
									
									<td class="column-5">{{cart_total_amount}}</td>
								</tr>
							</table>
						</div>
                        

						<div class="flex-w flex-sb-m  p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8  hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>

							<div class="flex-c-m stext-101 cl2 size-119 bg8  hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div>
						</div>
                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m ">
									
								<div class="flex-c-m">
									
								</div>
							</div>

							<div  class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" id="rzp-button1">
								Place Order
							</div>
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</form>
<form action="{% url 'success' %}" method="post">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_ZRnNYINY8ZcAob", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "http://127.0.0.1:8000/success",
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script></form>
		
	{% endblock %}
		

	<!-- Footer -->
	