{% extends 'Main/index.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}


	<!-- breadcrumb -->
	<div class="container"  style="margin-top: 80px;">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50 bor13" >
					<div class="m-l-25 m-r--38 m-lr-0-xl " >
                        <h4 class="mtext-113" style="padding-left: 150px; padding-bottom: 30px;padding-top: 30px;">Review Order and Make Payment</h4>
                         <h6 class="stext-110" style="padding-left: 20px;">Invoice>>ID:#123</h6>
                         <h6 class="stext-110" style="padding-left: 20px;">Print</h6>
							<table class="table-shopping-cart" style="padding-left: 0px;">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
                                {% for key,value in request.session.cart.items %}

								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="{{value.image}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{value.name}}</td>
									<td class="column-3">{{value.price}}</td>
									<td class="column-3">
											
											<input class="mtext-104 cl3 txt-center" type="number"  value="{{value.quantity}}">

										
									</td>
									<td class="column-5">{{ value.price|multiply:value.quantity }}</td>
								</tr>
                                {% endfor %}
							</table>
						

						
					</div>
				</div>

				
			</div>
		</div>
	</form>
		
	{% endblock %}
		

	<!-- Footer -->
	