{% extends 'Main/index.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}


	<!-- breadcrumb -->
	<div class="container" style="margin-top: 80px;">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'collections' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
				Login
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

		</div>
	</div>
    
    <div class="containerlogin">
        <div class="box-1">
            <div class="content-holder">
                <h2>Hello!</h2>
               
                <button class="button-1" onclick="signup()">Sign up</button>
                <button class="button-2" onclick="login()">Login</button>
            </div>
        </div>
    
        
        <div class="box-2">
            <div class="login-form-container ">
                <h1 class="mtext-105 cl2 txt-center p-b-30">Login Form</h1>
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
                <input type="text" placeholder="Username" class="input-field stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="username">
                <br><br>
                <input type="password" placeholder="Password" class="input-field stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="password">
                <br><br>
                <button class="login-button stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" type="submit">Login</button></form>
            </div>
    
        
        <div class="signup-form-container">
            <h1>Sign Up Form</h1>
			<form action="{% url 'signup' %}" method="post">
				{% csrf_token %}
            <input   type="text" placeholder="Username" class="input-field stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="username">
            <br><br>
            <input type="email" placeholder="Email" class="input-field stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="email">
            <br><br>
            <input type="password" placeholder="Password" class="input-field stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="pass1">
            <br><br>
            <button class="signup-button stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" type="submit">Sign Up</button>
		     </form>
        </div>
    
    
        </div>
        </div>

        

	
	<!-- Footer -->
	

<script>
    function signup()
{
    document.querySelector(".login-form-container").style.cssText = "display: none;";
    document.querySelector(".signup-form-container").style.cssText = "display: block;";
    document.querySelector(".containerlogin").style.cssText = "background: linear-gradient(to bottom, rgb(56, 189, 149),  rgb(28, 139, 106));";
    document.querySelector(".button-1").style.cssText = "display: none";
    document.querySelector(".button-2").style.cssText = "display: block";

};

function login()
{
    document.querySelector(".signup-form-container").style.cssText = "display: none;";
    document.querySelector(".login-form-container").style.cssText = "display: block;";
    document.querySelector(".containerlogin").style.cssText = "background: linear-gradient(to bottom, rgb(6, 108, 224),  rgb(14, 48, 122));";
    document.querySelector(".button-2").style.cssText = "display: none";
    document.querySelector(".button-1").style.cssText = "display: block";

}

</script>
<style>
    .containerlogin
  {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: red;
    background: linear-gradient(to bottom, rgb(6, 108, 100),  rgb(14, 48, 122));
    width: 900px;
    height: 500px;
    margin: 10% auto;;
    border-radius: 5px;
  }
  
  .content-holder
  {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 15%;
    padding: 50px;
  }
  
  .content-holder h2
  {
    font-size: 34px;
    margin: 20px auto;
  }
  
  .content-holder p
  {
    margin: 30px auto;
  }
  
  .content-holder button
  {
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
  }
  
  
  .box-2{
    background-color: white;
  
    margin: 5px;
  }
  
  .login-form-container
  {
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
  
  }
  
  .login-form-container h1
  {
    color: black;
    padding: 20px;
  }
  
  .input-field
  {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    width: 350px;
    outline: none;
    margin-left: 80px;
  }
  
  .login-button{
    box-sizing: border-box;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: black;
  }
  
  
  
  .button-2
  {
    display: none;
  }
  
  
  
  
  
  .signup-form-container
  {
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    display: none;
  }
  
  
  .signup-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  
  .signup-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: black;
  }
</style>

	{% endblock %}