{% extends 'Main/index.html' %}
{% load static %}
{% block content %}



<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-03.jpg' %}');margin-top: 80px;" >
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        At [Online Book Store Name], our story is deeply rooted in a love for books and a passion for connecting readers with the written word. The idea for our online book store was born out of a shared desire to make books more accessible to readers from all walks of life. As avid readers ourselves, we often found it challenging to find a wide variety of books in our local area. This inspired us to create an online platform where book enthusiasts could easily discover and purchase their favorite titles from the comfort of their own homes.

                        What started as a small endeavor quickly grew into a thriving online community of book lovers. We began by carefully curating a diverse collection of books, handpicking titles that encompassed a range of genres, authors, and perspectives. We wanted to create a space where readers could explore new genres, discover emerging voices, and find hidden literary gems.

                        Over time, we expanded our operations, collaborating with publishers, authors, and distributors worldwide to bring an even greater selection of books to our customers. We listened to feedback from our growing community, continuously improving our website and services to provide a seamless and enjoyable shopping experience.
                    </p>

                    
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="{% static 'images/bgimg15.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        At [Online Book Store Name], our mission is to foster a love of reading and promote literary exploration. We believe that books have the power to inspire, educate, and entertain. Our primary goal is to connect readers with the stories, knowledge, and ideas that enrich their lives.

Curating a Diverse Collection: We strive to offer a broad range of books that reflect the diversity of our readers. Our collection encompasses different genres, cultures, languages, and perspectives, ensuring that every reader can find something that resonates with them.

Accessibility: We are committed to making books accessible to all. Through our user-friendly website, worldwide shipping options, and affordable pricing, we aim to eliminate barriers and bring the joy of reading to book enthusiasts everywhere.

Exceptional Customer Service: We value the relationships we build with our customers. Our dedicated customer support team is always ready to assist you, answer your questions, and provide recommendations. We want to ensure that your experience with us is memorable and satisfying.

Community Building: We understand the importance of building a vibrant literary community. Through our online platform, we provide opportunities for readers to connect, share their thoughts, and engage in meaningful discussions. We also organize virtual events, book clubs, and author Q&A sessions to foster a sense of belonging and camaraderie among our readers.

Embracing Innovation: We embrace new technologies and trends to enhance the reading experience. From e-books and audiobooks to interactive reading apps, we stay at the forefront of innovation to provide readers with a variety of formats and options.
Join us on our mission to celebrate the written word, ignite imaginations, and create a world where everyone has access to the magic of books. Together, let's embark on a literary journey that will inspire, enlighten, and entertain.
</p>

                    
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="{% static 'images/bgimg16.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	


{% endblock %}