<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="popup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Close
              </button>
            </div>
          </div>
        </div>
    </div>

    <script>
        $(document).on("click", ".open-prod", function (e) {
          e.preventDefault();
          var $popup = $("#popup");
          var popup_url = $(this).data("popup-url");
          $(".modal-body", $popup).load(popup_url, function () {
            $popup.modal("show");
          });
        });
      </script>
</body>
</html>